<template>
    <div>
        <!-- Site Footer Here-->
        <footer id="site-footer" class=" bgdark padding_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_panel padding_bottom_half bottom20">
                            <a href="index.html" class="footer_logo bottom25"><img src="../assets/images/new logo white.png" alt="MegaOne"></a>
                            <p class="whitecolor bottom25">Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
                            <div class="d-table w-100 address-item whitecolor bottom25">
                                <span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
                                <p class="d-table-cell align-middle bottom0">
                                    +234 807 574 4557 <br> +234 802 398 3607  <a class="d-block" href="mailto:wisdomezekiel@gmail.com">wisdomaezekiel@gmail.com</a>
                                </p>
                            </div>
                            <ul class="social-icons white wow fadeInUp" data-wow-delay="300ms">
                                <li><a href="https://www.facebook.com/wisdomezekiel" target="blank" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
                                <li><a href="https://twitter.com/wisemanezekiel?s=08" target="blank" class="twitter"><i class="fab fa-twitter"></i> </a> </li>
                                <li><a href="javascript:void(0)" class="linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
                                <li><a href="https://www.instagram.com/wisdomezekiel/" target="blank" class="insta"><i class="fab fa-instagram"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5">
                            <h3 class="whitecolor bottom25">Our Services</h3>
                            <ul class="links">
                                <li><nuxt-link to="/">Home</nuxt-link></li>
                                <li><nuxt-link to="/about" >About Us</nuxt-link></li>
                                <li><nuxt-link to="/gallery">Gallery</nuxt-link></li>
                                <li><nuxt-link to="/mentorship">Mentorship Series</nuxt-link></li>
                                <li><nuxt-link  to='/contact'>Contact Us</nuxt-link></li>                       
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <!-- <div class="footer_panel padding_bottom_half bottom20">
                            <h3 class="whitecolor bottom25">Latest News</h3>
                            <ul class="latest_news whitecolor">
                                <li> <a href="#.">Aenean tristique justo et... </a> <span class="date defaultcolor">15 March 2019</span> </li>
                                <li> <a href="#.">Phasellus dapibus dictum augue... </a> <span class="date defaultcolor">15 March 2019</span> </li>
                                <li> <a href="#.">Mauris blandit vitae. Praesent non... </a> <span class="date defaultcolor">15 March 2019</span> </li>
                            </ul>
                        </div> -->
                    </div>
                    
                    
                </div>
            </div>
        </footer>
        <!--Footer ends -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow fadeIn animated" data-wow-delay="300ms">
                        <p class="m-0 py-3">Copyright © wisdomezekiel 2020. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>
<style>

</style>
