<template>
    <div>
        <!-- header -->
        <header class="site-header">
            <nav class="navbar navbar-expand-lg padding-nav static-nav">
                <div class="container">
                    <nuxt-link to="/" class="navbar-brand">
                       <img src="../assets/images/smallwizlogo.png" alt="logo">
                        <!-- <img src="../assets/images/new logo white.png" alt="logo" class="logo-scrolled"> -->
                    </nuxt-link>
                    <div class="collapse navbar-collapse"> 
                        <ul class="navbar-nav ml-auto mr-auto">
                            <li class="nav-item">
                                <nuxt-link to="/" class="nav-link">Home</nuxt-link>
                                <!-- <ul class="dropdown-menu megamenu"> 
                                    <li>
                                        <a class="nav-link active" href="index-video.html">Home</a>   
                                    </li>
                                </ul> -->
                            </li>
                            
                            <li class="nav-item" >
                                <nuxt-link to="/about" class="nav-link">about</nuxt-link>
                            </li>
                            
                        
                            <li class="nav-item" > 
                                <nuxt-link to="/gallery" :prefetch="false" class="nav-link">Gallery</nuxt-link>
                            </li>

                            <li class="nav-item">
                                <nuxt-link to="/mentorship" class="nav-link">Mentorship Series</nuxt-link>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="shop.html">Shop</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="blog.html">blog</a>
                            </li> -->
                            <li class="nav-item">
                                <nuxt-link to="/contact" class="nav-link">Contact</nuxt-link>
                            </li>
                            
                        </ul>
                    </div>
                    <ul class="social-icons social-icons-simple d-lg-inline-block d-none animated fadeInUp" data-wow-delay="300ms">
                        <li><a href="https://www.facebook.com/wisdomaezekiel" target="blank"><i class="fab fa-facebook-f"></i> </a> </li>
                        <li><a href="https://twitter.com/wisemanezekiel?s=08" target="blank"><i class="fab fa-twitter"></i> </a> </li>
                    
                    </ul>
                </div>
                <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
                    <span></span> <span></span> <span></span>
                </a>
            </nav>
            <!-- side menu -->
            <div class="side-menu opacity-0 gradient-bg">
                <div class="overlay"></div>
                <div class="inner-wrapper">
                    <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
                    <nav class="side-nav w-100">
                        <ul class="navbar-nav">
                            <li class="nav-item" v-on:click="closeSidebar()">
                                <nuxt-link to='/' class="nav-link">Home</nuxt-link>
                            </li>
                            <li class="nav-item"  v-on:click="closeSidebar()" >
                                <nuxt-link to="/about" class="nav-link">About</nuxt-link>
                            </li>
                            <li class="nav-item" v-on:click="closeSidebar()">
                                <nuxt-link to="/gallery"  class="nav-link">Gallery</nuxt-link>
                            </li>
                            <li class="nav-item" v-on:click="closeSidebar()"> 
                                <nuxt-link to="/mentorship" class="nav-link">Mentorship Series</nuxt-link>
                            </li>
                            <li class="nav-item" v-on:click="closeSidebar()"> 
                                <nuxt-link to='/contact' class="nav-link">Contact</nuxt-link>
                            </li>
                        </ul>
                    </nav>
                    <div class="side-footer w-100">
                        <ul class="social-icons-simple white top40">
                            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                        </ul>
                        <p class="whitecolor">&copy; <span id="year"></span> wisdomezekiel 2020</p>
                    </div>
                </div>
            </div>
            <div id="close_side_menu" class="tooltip"></div>
            <!-- End side menu --> 
        </header>
        <!-- header -->
    </div>
</template>
<script>
    export default {
        data(){
            return{

            }
        },

        methods: {
            closeSidebar(){
                
                $("body").removeClass("overflow-hidden");
                let sideMenu = $(".side-menu");
                sideMenu.removeClass("side-menu-active");
                $("#close_side_menu").fadeOut(200);
                $(() => {
                    setTimeout(() => {
                        $('.sideNavPages').removeClass('show');
                        $('.fas').removeClass('rotate-180');
                    }, 400);
                });
            }
        }
    }
</script>
<style>

</style>
