<template>
    <div>
        <div class="loader">
            <div class="loader-inner">
                <div class="cssload-loader"></div>
            </div>
        </div>
        <!-- About us -->
        <section id="main-banner-page" class="position-relative page-header about-header parallax section-nav-smooth">
            <div class="overlay overlay-dark opacity-7"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="page-titles whitecolor text-center padding_top padding_bottom">
                            <h2 class="font-xlight">My name is</h2>
                            <h2 class="font-bold">WISDOM EZEKIEL</h2>
                            <h2 class="font-xlight">Entrepreneur</h2>
                            <h3 class="font-light pt-2">Motivational Speaker</h3>
                            <h3 class="font-light pt-2">Life Coach</h3>
                        </div>
                    </div>
                </div>
                <div class="gradient-bg title-wrap">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 whitecolor">
                            <h3 class="float-left">About Wisdom Ezekiel</h3>
                            <ul class="breadcrumb top10 bottom10 float-right">
                                <li class="breadcrumb-item hover-light"><a href="index-video.html">Home</a></li>
                                <li class="breadcrumb-item hover-light">About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="aboutus" class="padding_top padding_bottom">
            <div class="container aboutus">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 padding_bottom_half">
                        <div class="image"><img alt="SEO" src="../assets/images/wisdom1.png"></div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-md-6 padding_bottom_half text-center text-md-left">
                        <h2 class="darkcolor font-normal bottom30">About<span class="defaultcolor">Wisdom</span> Ezekiel</h2>
                        <p class="bottom35"> Wisdom A. Ezekiel is the Co-founder, PERTINENCE Group, owners of Pertinence Limited, Pertinence Properties Limited, Pettysave, DataFirst, ETRAC and recently, Realvest.


                            Ezekiel entered the business and financial services sector about 20 years ago and has consistently grown in leaps and bounds.Prior to co-setting up Pertinence Limited in 2012, he worked as a financial planner with a financial services company in Lagos, he was Executive Director, 
                            Lifepage Limited; among others. 


                            Ezekiel who holds an Executive MBA from the Metropolitan School of Business and Management in the United Kingdom, he's evolving into a new generation boardroom juggernaut,
                            as he currently operates as a frontline player in HostNowNow Limited and Rush Towers Limited, (with key interest in the entertainment industry).</p>
                        <!-- <a href="#our-team" class="button btnsecondary gradient-btn pagescroll">Learn More</a> -->
                    </div>
                </div>
                <div class="row  align-items-center">
                    <div class="col-lg-5 col-md-6  col-md-6 padding_top_half text-center text-md-left">
                        <h2 class="darkcolor font-normal bottom30">More About <span class="defaultcolor">Wisdom Ezekiel</span> </h2>
                        <p class="bottom35">
                            
                            
                            He is a management and faculty member of The Entrepreneurship Academy (TEA). Ezekiel is a sought-after speaker at conferences and seminars. 


                            He is married to delightsome Temitope, and they are blessed with children.
                            
                            
                            Ezekiel is the author of DESPERATE FOR CHANGE BOOK SERIES, including: DON’T GET MAD GET RICH and RUSH.</p>
                    </div>
    
                    <div class="col-lg-6 offset-lg-1 col-md-6">
                        <section>
                             <div class="container">
                                <!-- <i class="fas fa-3x fa-battery-full icon"></i> -->
                                
                                <div class="progress-wrapper">
                                    <div class="progress-tooltip">
                                        <label for="">Enterprenuer</label>
                                        <span class="progress-tooltip-info" style="left: 90%;">94%</span>
                                        <progress class="progress" value="92" max="100">45%</progress>
                                    </div>
                                </div>
                                
                                <div class="progress-wrapper">
                                    <div class="progress-tooltip">
                                        <label for="">Life Coach</label>
                                        <span class="progress-tooltip-info" style="left: 90%;">92%</span>
                                        <progress class="progress" value="92" max="100">92%</progress>
                                    </div>
                                </div>
                                
                                <div class="progress-wrapper">
                                    <div class="progress-tooltip">
                                        <label for="">Motivational speaker</label>
                                        <span class="progress-tooltip-info" style="left: 84%;">86%</span>
                                        <progress class="progress" value="86" max="100">86%</progress>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- About us ends -->
        <!-- WOrk Process-->
        <section id="our-process" class="padding bgdark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                            
                            <h2 class="font-normal">Wisdom Ezekiel In Numbers </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="process-wrapp">
                        <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                            <span class="pro-step bottom20">6+</span>
                            <p class="fontbold bottom25">Companies</p>
                            <p>Companies Wisdom Ezekiel has founded</p>
                        </li>
                        <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                            <span class="pro-step bottom20">20+</span>
                            <p class="fontbold bottom25">Years Of Experience</p>
                            <p>Wisdom Ezekiel is filled with wealth of experience</p>
                        </li>
                        <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
                            <span class="pro-step bottom20">150+</span>
                            <p class="fontbold bottom25">Employees</p>
                            <p>Wisdom Ezekiel has been a source of blessing to people through the businesses he has created </p>
                        </li>
                        <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                            <span class="pro-step bottom20">30+</span>
                            <p class="fontbold bottom25">Mentees</p>
                            <p>Wisdom Network is Mr wisdom mentorship initiative with over 30 mentees on board</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--WOrk Process ends-->

        <!-- Partners-->
          <section id="our-partners" class="padding">
            <div class="container">
                <div class="row">
                    <h2 class="d-none">Partners Carousel</h2>
                    <div class="col-md-12 col-sm-12 partners">
                    <div class="figure">
                        <div id="partners-slider" class="slider-container">
                            <div class="item">
                                <div class="logo-item"> <img alt="" src="../assets/images/pertinece.2.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/PPL-Logo-1 (1).png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/new logo color-02.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/logo-text-dark.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/Asset 1realvestblack.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/png logo WE.png"></div>
                            </div>
                            <!-- <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/logo-2.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/logo-3.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/logo-4.png"></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><img alt="" src="../assets/images/logo-5.png"></div>
                            </div> -->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Partners ends-->
        <!-- Contact US -->
        <section id="stayconnect" class="bglight position-relative ">
            <div class="container">
                <div class="contactus-wrapp">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
                                <h3 class="darkcolor bottom20">Stay Connected</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" id="result"></div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName" class="d-none"></label>
                                            <input class="form-control" type="text" placeholder="Name" required id="userName" name="userName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="companyName" class="d-none"></label>
                                            <input class="form-control" type="tel" placeholder="Company"  id="companyName" name="companyName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="email" class="d-none"></label>
                                            <input class="form-control" type="email" placeholder="Email" required id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <button type="submit" class="button gradient-btn w-100" id="submit_btn">subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact US ends -->
    </div>
</template>

<script>
export default {
     mounted() {
        $(".loader").fadeOut(3000);
    },
}
</script>

<style scoped>

</style>