<template>
    <div>
        <div class="loader">
            <div class="loader-inner">
                <div class="cssload-loader"></div>
            </div>
        </div>
        <!-- Contact US -->
        <section id="stayconnect1" class="bglight position-relative padding noshadow">
            <div class="container whitebox">
                <div class="widget py-5">
                    <div class="row">
                        <div class="col-md-12 text-center wow fadeIn mt-n3" data-wow-delay="300ms">
                            <h2 class="heading bottom30 darkcolor font-light2 pt-1"><span class="font-normal">Contact</span> Us
                                <span class="divider-center"></span>
                            </h2>
                            <div class="col-md-8 offset-md-2 bottom35">
                                <p>Would you like to get in touch with Wisdom Ezekiel??</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 order-sm-2">
                            <div class="contact-meta px-2 text-center text-md-left">
                                <div class="heading-title">
                                    <span class="defaultcolor mb-3">Wizdom Ezekiel Network</span>
                                    <h2 class="darkcolor font-normal mb-4"><span class="d-none d-md-inline-block">Visit</span> Our Office <span class="d-none d-md-inline-block">In Lagos</span></h2>
                                </div>
                                <p class="bottom10">Address: 2-7 Tinuola Close Animashaun Bus-Stop, Akowonjo-Egbeda Road, Lagos.</p>
                                <p class="bottom10"><b>+234 807 574 4557  +234 802 398 3607</b></p>
                                <p class="bottom10"><a href="mailto:wisdomezekiel@gmail.com">wisdomezekiel@gmail.com</a></p>
                                <p class="bottom10">Mon-Fri: 9am-5pm</p>
                                <ul class="social-icons mt-4 mb-4 mb-sm-0 wow fadeInUp" data-wow-delay="300ms">
                                    <li><a href="https://www.facebook.com/wisdomaezekiel"><i class="fab fa-facebook-f"></i> </a> </li>
                                    <li><a href="https://twitter.com/wisemanezekiel?s=08"><i class="fab fa-twitter"></i> </a> </li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i> </a> </li>
                                    <li><a href="www.instagram.com/wisdomezekiel"><i class="fab fa-instagram"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="heading-title  wow fadeInUp" data-wow-delay="300ms">
                                <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                                    <div class="row px-2">
                                        <div class="col-md-12 col-sm-12" id="result1"></div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="name1" class="d-none"></label>
                                                <input class="form-control" id="name1" type="text" placeholder="Name" v-model="fullname" required  name="userName">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="email1" class="d-none"></label>
                                                <input class="form-control" type="email" id="email1" placeholder="Email" v-model="email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="message1" class="d-none"></label>
                                                <textarea class="form-control" id="message1" placeholder="Message:" required  v-model="message" name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <button type="submit" @click="submitForm" id="submit_btn1" class="button gradient-btn w-100">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="widget text-center top60 w-100">
                            <div class="contact-box">
                                <span class="icon-contact defaultcolor"><i class="fas fa-mobile-alt"></i></span>
                                <p class="bottom0"><a href="tel:+234 807 574 45576">+234 807 574 4557</a></p>
                                <p class="d-block"><a href="tel:+234 802 398 3607">+234 802 398 3607</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="widget text-center top60 w-100">
                            <div class="contact-box">
                                <span class="icon-contact defaultcolor"><i class="fas fa-map-marker-alt"></i></span>
                                <p class="bottom0">2-7, Tinuola Close </p>
                                <p class="d-block">Animashaun Bus-Stop, Akowonjo-Egbeda,Lagos State </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="widget text-center top60 w-100">
                            <div class="contact-box">
                                <span class="icon-contact defaultcolor"><i class="far fa-envelope"></i></span>
                                <p class="bottom0"><a href="wisdomezekiel@gmail.com">wisdomezekiel@gmail.com</a></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="widget text-center top60 w-100">
                            <div class="contact-box">
                                <span class="icon-contact defaultcolor"><i class="far fa-clock"></i></span>
                                <p class="bottom15">GMT−08:00 <span class="d-block">GMT+17:00</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact US ends -->
        <!-- map -->
        <!-- <div class="w-100">
            <div id="map" class="full-map"></div>
        </div> -->
        <!-- map end -->
        <!-- Stay Connected -->
        <section id="stayconnect" class="bglight position-relative">
            <div class="container">
                <div class="contactus-wrapp shadow-equal">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
                                <h3 class="darkcolor bottom20">Stay Connected</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" id="result"></div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName" class="d-none"></label>
                                            <input class="form-control" type="text" placeholder="First Name:" required id="userName" name="userName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="companyName" class="d-none"></label>
                                            <input class="form-control" type="tel" placeholder="Company Name"  id="companyName" name="companyName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="email" class="d-none"></label>
                                            <input class="form-control" type="email" placeholder="Email:" required id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <button type="submit" class="button gradient-btn w-100" id="submit_btn">subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data(){
        return{
            email: '',
            message: '',
            fullname: '',
        }
    },
     mounted() {
        $(".loader").fadeOut(3000);
    },
    methods:{
        submitForm(){
            let url = 'http://wisdomezekiel.org/server/contact.php';
            // getting values from the input fields

            let data = {
                            fullname: this.fullname, 
                            email: this.email, message: this.message
                        }
            // checking through required fields
            for (var x in data) {
                if(data[x].length < 1){
                    return false;
                }
            }
            console.log(data);
            $(".loader").fadeIn();    
            // // request to the server
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function() {
                    swal({
                            title: "Message Sent",
                            text: "You' ll get feedback from us. Thank You.",
                            icon: "success",
                            button: "Ok",
                        });
                },
            });
            $(".loader").fadeOut(1000);

            // clearing all fields
            this.fullname = '',
            this.email = '',
            this.message = ''
            
        },
    }
}
</script>

<style scoped>

</style>