<template>
    <div>
        <!-- loader -->
        <div class="loader">
            <div class="loader-inner">
                <div class="cssload-loader"></div>
            </div>
        </div>
        <!--Page Header-->
        <section id="main-banner-page" class="position-relative page-header gallery-header parallax section-nav-smooth">
             <div class="overlay overlay-dark opacity-7"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="page-titles whitecolor text-center padding_top padding_bottom">
                            <h2 class="font-xlight">My name is</h2>
                            <h2 class="font-bold">Wisdom Ezekiel</h2>
                            <h2 class="font-bold">Entrepreneur</h2>
                            <h3 class="font-bold">Life Coach</h3>
                        </div>
                    </div>
                </div>
                <div class="gradient-bg title-wrap">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 whitecolor">
                            <h3 class="float-left">Gallery</h3>
                            <ul class="breadcrumb top10 bottom10 float-right">
                                <li class="breadcrumb-item hover-light"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item hover-light">Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="gallery" class="bglight  padding_top  position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow fadeIn top15" data-wow-delay="300ms">
                        <h2 class="heading bottom45 darkcolor font-light2">Our <span class="font-normal">Gallery</span>
                            <span class="divider-center"></span>
                        </h2>
                        <div class="col-md-8 offset-md-2 bottom40">
                            <p>Some of Wisdom Ezekiel Memories and Events</p>
                        </div>
                    </div>
                    <div class="tabset">
                        <!-- Tab 1 -->
                        <input type="radio" name="tabset" id="tab1" aria-controls="events" checked>
                        <label for="tab1">Event</label>
                        <!-- Tab 2 -->
                        <input type="radio" name="tabset" id="tab2" aria-controls="ministering">
                        <label for="tab2">Ministering</label>
                        <!-- Tab 3 -->
                        <input type="radio" name="tabset" id="tab3" aria-controls="coaching">
                        <label for="tab3">Coaching</label>
                        <!-- Tab 3 -->
                        <input type="radio" name="tabset" id="tab4" aria-controls="family">
                        <label for="tab4">Family</label>
                        <input type="radio" name="tabset" id="tab5" aria-controls="fun">
                        <label for="tab5">Fun</label>
                        <div class="tab-panels">
                            <section id="event" class="tab-panel">
                                <div class="row"> 
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 23.jpg" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        
                                    </div>
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz2.JPG" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 22.jpg" style="width:100%">
                                        
                                    </div>
                                     <div class="column">
                                        <img src="../assets/images/IMG_5551.JPG" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                    </div>
                                    
                                </div>
                            </section>
                            <section id="ministering" class="tab-panel">
                                <div class="row"> 
                                     <div class="column">
                                        <img src="../assets/images/IMG_5551.JPG" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                    </div>
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 23.jpg" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        
                                    </div>
                                     <div class="column">
                                        <img src="../assets/images/gallerywiz2.JPG" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 22.jpg" style="width:100%">
                                        
                                    </div>
                                    
                                </div>
                            </section>
                            <section id="coaching" class="tab-panel">
                                  <div class="row"> 
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 23.jpg" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        
                                    </div>
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz2.JPG" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 22.jpg" style="width:100%">
                                        
                                    </div>
                                     <div class="column">
                                        <img src="../assets/images/IMG_5551.JPG" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                    </div>
                                    
                                </div>
                            </section>
                            <section id="family" class="tab-panel">
                                <div class="row"> 
                                     <div class="column">
                                        <img src="../assets/images/IMG_5551.JPG" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                    </div>
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 23.jpg" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        
                                    </div>
                                     <div class="column">
                                        <img src="../assets/images/gallerywiz2.JPG" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 22.jpg" style="width:100%">
                                        
                                    </div>
                                    
                                </div>
                            </section>
                            <section id="fun" class="tab-panel">
                                 <div class="row"> 
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 23.jpg" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        
                                    </div>
                                    <div class="column">
                                        <img src="../assets/images/gallerywiz2.JPG" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                        <img src="../assets/images/image 22.jpg" style="width:100%">
                                        
                                    </div>
                                     <div class="column">
                                        <img src="../assets/images/IMG_5551.JPG" style="width:100%">
                                        <img src="../assets/images/image 26.jpg" style="width:100%">
                                        <img src="../assets/images/gallerywiz.JPG" style="width:100%">
                                    </div>
                                    
                                </div>
                            </section>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--Page Header ends -->
        <!-- Gallery -->>
        <!-- Gallery ends -->
        <!-- Contact US -->
        <section id="stayconnect" class="bglight position-relative padding_top mt-n5">
            <div class="container">
                <div class="contactus-wrapp">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
                                <h3 class="darkcolor bottom20">Stay Connected</h3>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" id="result"></div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="userName" class="d-none"></label>
                                            <input class="form-control" type="text" placeholder="First Name:" required id="userName" name="userName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="companyName" class="d-none"></label>
                                            <input class="form-control" type="tel" placeholder="Company Name"  id="companyName" name="companyName">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="form-group">
                                            <label for="email" class="d-none"></label>
                                            <input class="form-control" type="email" placeholder="Email:" required id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <button type="submit" class="button gradient-btn w-100" id="submit_btn">subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact US ends -->
    </div>
</template>
<script>

</script>

<script>
export default {
    
     mounted() {
        $(".loader").fadeOut(3000);
        $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
  });
});
    },
}
</script>

<style scoped>

</style>