<template>
  <div>
    <div class="loader">
        <div class="loader-inner">
            <div class="cssload-loader"></div>
        </div>
    </div>
 <section id="home" class="p-0 ">
    <a href="#our-feature" class="scroll-down pagescroll-down pagescroll whitecolor hover-default">Scroll Down <i class="fas fa-long-arrow-alt-down"></i></a>
    <div class="video-container">
        <div class="video-overlay"></div>
         <video width="100%" poster="/wisdomnewpic.png"  muted autoplay loop  height="100%" >   
            <source src="../video/video2.mp4" type="video/mp4">
            <source src="../video/video2.mp4" type="video/ogg">
        </video>
    </div>
    <div class="caption-container">
        <div class="video-caption">
            <h1 class="greeting">Hi I'm</h1>
            <h1 class="intro" >Wisdom Eziekiel</h1>
            <p class="statuses">Enterprenuer | Life Coach | Motivation Speaker</p>
            <nuxt-link to='/about' class="button btn-secondary transition-3 button-padding" target="blank" >Learn More</nuxt-link>
        </div>
    </div>
</section>
<!--slider end-->
<!--Some Feature -->
<section id="our-feature" class="single-feature padding">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                <div class="heading-title mb-4">
                    <h2 class="darkcolor font-normal bottom30">Get Familiar With <span class="defaultcolor">Wisdom</span> Ezekiel</h2>
                </div>
                <p class="bottom35"> Wisdom A. Ezekiel is the Co-founder, PERTINENCE Group, owners of Pertinence Limited, Pertinence Properties Limited, Pettysave, DataFirst, ETRAC and recently, Realvest.


                    Ezekiel entered the business and financial services sector about 20 years ago and has consistently grown in leaps and bounds.
                    
                    
                    Prior to co-setting up Pertinence Limited in 2012, he worked as a financial planner with a financial services company in Lagos, he was Executive Director, Lifepage Limited; among others. </p>
                    <span> <nuxt-link to='/contact'><button type="submit" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4" id="submit_btn">Book Wisdom Ezekiel</button></nuxt-link> 
                      </span>
                      <span>
                <nuxt-link to='/contact'><button type="submit" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4" id="submit_btn">Contact Us</button></nuxt-link>
            </span>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                <div class="image"><img alt="SEO" src="../assets/images/wisdomnewpic.png"></div>
            </div>
        </div>
    </div>
</section>
<!--Some Feature ends-->
<!-- WOrk Process-->
<section id="our-process" class="padding bgdark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                    
                    <h2 class="font-normal">Wisdom Ezekiel In Numbers </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="process-wrapp">
                <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
                    <span class="pro-step bottom20">6+</span>
                    <p class="fontbold bottom25">Companies</p>
                    <p>Companies Wisdom Ezekiel has founded</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                    <span class="pro-step bottom20">20+</span>
                    <p class="fontbold bottom25">Years Of Experience</p>
                    <p>Wisdom Ezekiel is filled with wealth of experience</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
                    <span class="pro-step bottom20">150+</span>
                    <p class="fontbold bottom25">Employees</p>
                    <p>Wisdom Ezekiel has been a source of blessing to people through the businesses he has created </p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                    <span class="pro-step bottom20">30+</span>
                    <p class="fontbold bottom25">Mentees</p>
                    <p>Wisdom Network is Mr wisdom mentorship initiative with over 30 mentees on board</p>
                </li>
                <!-- <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                    <span class="pro-step bottom20">05</span>
                    <p class="fontbold bottom25">Quality Check</p>
                    <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                </li> -->
            </ul>
        </div>
    </div>
</section>
<!--WOrk Process ends-->
<!-- Mobile Apps -->
<section id="our-apps" class="padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <!-- <span class="defaultcolor text-center text-md-left"></span> -->
                       
                    <h2 class="darkcolor font-normal text-center">Area Of Expertise</h2>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 mx-auto">
                <p class="text-center">Ezekiel entered the business and financial services sector about 20 years ago and has consistently grown in leaps and bounds.</p>
            </div>
        </div>
        <div class="row d-flex align-items-center" id="app-feature">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-center text-md-right">
                    <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <div class="icon"><i class="fas fa-user"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Serial Entrepreneur</span>
                            </h3>
                            <p>Wisdom Ezekiel Chief Executive Officer, Executive Director, Founder, Co-Founder, Chairman.</p>
                        </div>
                    </div>
                    <div class="feature-item mt-5 wow fadeInLeft" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInLeft;">
                        <div class="icon"><i class="fas fa-globe"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Global Speaker</span>
                            </h3>
                            <p>speaks and delivers stellar keynotes to over 100,000 people across 4 continents every year on matters ranging from leadership to business to governance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="app-image top30">
                    <div class="app-slider-lock-btn"></div>
                    <div class="app-slider-lock">
                        <img src="../assets/images/iphonewiz.png" alt="">
                    </div>
                    <div id="app-slider" class="owl-carousel owl-theme owl-loaded owl-drag">



                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-470px, 0px, 0px); transition: all 0s ease 0s; width: 1645px;"><div class="owl-item cloned" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide2.jpg" alt="">
                        </div></div><div class="owl-item cloned" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide3.jpg" alt="">
                        </div></div><div class="owl-item active" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide1.jpg" alt="">
                        </div></div><div class="owl-item" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide2.jpg" alt="">
                        </div></div><div class="owl-item" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide3.jpg" alt="">
                        </div></div><div class="owl-item cloned" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide1.jpg" alt="">
                        </div></div><div class="owl-item cloned" style="width: 235px;"><div class="item">
                            <img src="../assets/images/iphone-slide2.jpg" alt="">
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
                    <img src="../assets/images/iphone.png" alt="image">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-center text-md-left">
                    <div class="feature-item mt-3 wow fadeInRight" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
                        <div class="icon"><i class="fas fa-home"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Real Esate Investor</span>
                            </h3>
                            <p>Wisdom Ezekiel is a co-founder of a real estate investment company known as pertinence limited.</p>
                        </div>
                    </div>
                    <div class="feature-item mt-5 wow fadeInRight" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInRight;">
                        <div class="icon"><i class="fas fa-bullhorn"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Life Coach </span>
                            </h3>
                            <p>
                                I believe that everyone can live a fulfilled life if we have the right attitude and knowledge about life and
                                 I am always ready to help people to achieve this as long as you are willing and ready to pay the price.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <section id="our-partners" class="padding">
    <div class="container">
        <div class="row">
            <h2 class="d-none">Partners Carousel</h2>
            <div class="col-md-12 col-sm-12 partners">
              <div class="figure">
                <div id="partners-slider" class="slider-container">
                    <div class="item">
                        <div class="logo-item"> <img alt="" src="../assets/images/pertinece.2.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/PPL-Logo-1 (1).png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/new logo color-02.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/logo-text-dark.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/Asset 1realvestblack.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/png logo WE.png"></div>
                    </div>
                    <!-- <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/logo-2.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/logo-3.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/logo-4.png"></div>
                    </div>
                    <div class="item">
                        <div class="logo-item"><img alt="" src="../assets/images/logo-5.png"></div>
                    </div> -->
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<!-- Partners ends-->
<!-- Testimonials -->
 <section id="our-testimonial" class="bglight padding_bottom">
            <div class="parallax page-header testimonial-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-12 text-center text-lg-right">
                            <div class="heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
                                <span class="whitecolor">Testimonials</span>
                                <h2 class="whitecolor font-normal">What People Say</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="" id="testimonial-slider">
                    <!--item 1-->
                    <div class="item testi-box">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-12 text-center">
                                <div class="testimonial-round d-inline-block">
                                    <img src="../assets/images/ahmed.png" alt="" class="perronel-img">
                                </div>
                                <h4 class="defaultcolor font-light top15"><a href="#.">AHMED AJIBADE</a></h4>
                                <p>Lagos, Nigeria</p>
                            </div>
                            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                                <p class="bottom15 top90">I am opportuned to be one of the employees of Mr Wisdom Ezekiel establishment, i have been able to improve in every area of my life,
                                    financially, spiritually, morally, career-wise, he's indeed a blessing to me</p>
                                <span class="d-inline-block test-star">
                                    <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--item 2-->
                    <div class="item testi-box">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-12 text-center">
                                <div class="testimonial-round d-inline-block">
                                    <img src="../assets/images/WhatsApp Image 2020-06-16 at 10.32.08.jpeg" alt="" class="perronel-img">
                                </div>
                                <h4 class="defaultcolor font-light top15"><a href="#.">GODWIN SOLOMON</a></h4>
                                <p>Lagos, Nigeria</p>
                            </div>
                            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                                <p class="bottom15 top90"> I bless the day I met Mr Wisdom Ezekiel. He is a Father, Mentor and Boss to me.

                                    My Relationship with him has given me a paradigm shift in my mindset. He has provided opportunities that have improved my life significantly.</p>
                                <span class="d-inline-block test-star">
                                    <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> <i class="far fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--item 3-->
                    <div class="item testi-box">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-12 text-center">
                                <div class="testimonial-round d-inline-block">
                                    <img src="../assets/images/testimonial-3.jpg" class="perronel-img" alt="">
                                </div>
                                <h4 class="defaultcolor font-light top15"><a href="#.">OLAOTAN JEREMIAH</a></h4>
                                <p>Lagos, Nigeria</p>
                            </div>
                            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                                <p class="bottom15 top90">We need people like you in our generation to help empower the people and teach us what to do to get positive results</p>
                                <span class="d-inline-block test-star">ts.
                                    <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                      <span class="testi-controls"><i class="fa fa-angle-left"></i></span>
                      <span class="testi-controls forward-btn"><i class="fa fa-angle-right"></i></span>
                    </div>

                    
                    <!--item 4-->
                    <!-- <div class="item testi-box">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-12 text-center">
                                <div class="testimonial-round d-inline-block">
                                    <img src="../assets/images/testimonial-4.jpg" alt="">
                                </div>
                                <h4 class="defaultcolor font-light top15"><a href="#.">Alina Johanson</a></h4>
                                <p>INTEL, Sidney</p>
                            </div>
                            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                                <p class="bottom15 top90">Startup Institute is a career accelerator that allows professionals to learn new skills, take their careers in a different direction, and pursue a career they are passionate about that have completed the program.</p>
                                <span class="d-inline-block test-star">
                                        <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> <i class="far fa-star"></i>
                                        </span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
<!--Testimonials Ends-->
<!-- Contact US -->
<section id="stayconnect" class="bglight position-relative">
    <div class="container">
        <div class="contactus-wrapp">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
                        <h3 class="darkcolor bottom20">Stay Connected</h3>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12" id="result"></div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="userName" class="d-none"></label>
                                    <input class="form-control" type="text" placeholder="First Name:" required id="userName" name="userName">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="companyName" class="d-none"></label>
                                    <input class="form-control" type="tel" placeholder="Last Name"  id="companyName" name="companyName">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="email" class="d-none"></label>
                                    <input class="form-control" type="email" placeholder="Email:" required id="email" name="email">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <button type="submit" class="button gradient-btn w-100" id="submit_btn">subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
</template>

<script>
export default {
    data(){
        return{

        }
    },
    mounted() {
        $(".loader").fadeOut(3000);
          let count = 0;
          let testimonial = document.getElementsByClassName('testi-box');
          let testiLenght= testimonial.length;

          let controller = document.querySelectorAll('.testi-controls')
          document.querySelectorAll('.testi-controls').forEach(item => {
              item.addEventListener('click', e=> {
                  if(e.target.className == 'fa fa-angle-right'){
                      if(count < testiLenght-1){
                          testimonial[count].style.display = 'none';
                          count++;
                          $(testimonial[count]).fadeIn(1000)
                      }else{
                          testimonial[count].style.display = 'none';
                          count = 0;
                          $(testimonial[count]).fadeIn(1000)
                      }
                  }
                  else{
                      if(count < testiLenght && count !== 0){
                          testimonial[count].style.display = 'none';
                          count--;
                          $(testimonial[count]).fadeIn(1000)
                      }else{
                          testimonial[count].style.display = 'none';
                          count = testimonial.length -1;

                          $(testimonial[count]).fadeIn(1000)
                      }
                  }
                
                  
              })
          })
    },
}
</script>

<style>

</style>
