<template>
    <div>
        <div class="loader">
            <div class="loader-inner">
                <div class="cssload-loader"></div>
            </div>
        </div>
        <section id="stayconnect1" class="bglight position-relative padding noshadow">
    <div class="container holder" >
        <div class="alert alert-success" role="alert" id="alert">
            Registration Successful <i class="fa fa-check" aria-hidden="true"></i>
        </div>
    </div>

  
    <div class="container">
        <div class="holder">
            <div class="alert alert-danger" role="alert" id="error">
                {{errorMsg}}
            </div>
        </div>
    </div>
    <div class="container whitebox">
        <div class="widget ">
            <div class="row">
                <div class="col-md-12 text-center wow fadeIn mt-n3" data-wow-delay="300ms">
                    <h2 class="heading bottom30 darkcolor font-light2 pt-1"><span class="font-normal">Mentorship</span> Form
                        <span class="divider-center"></span>
                    </h2>
                    <div class="col-md-8 offset-md-2 bottom35">
                        <p>Kindly fill the form below to register</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-2 order-sm-1">
                    <div class="contact-meta px-2 text-center text-md-left">
                        <div class="heading-title pb-3">
                            <img src="../assets/images/mentorship-series3.jpg" class="freebirdFormviewerViewItemsEmbeddedobjectImage img-fluid" title="" alt="">
                            <!-- <span class="defaultcolor mb-3">Wizdom Ezekiel Network</span> -->
                            <!-- <h2 class="darkcolor font-normal mb-4"><span class="d-none d-md-inline-block">Visit</span> Our Office <span class="d-none d-md-inline-block">In Lagos</span></h2> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-1 order-sm-2">
                    <div class="heading-title  wow fadeInUp" data-wow-delay="300ms">
                        <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                            <div class="row px-2">
                                <div class="col-md-12 col-sm-12" id="result1"></div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="name1" class="d-none"></label>
                                        <input class="form-control" v-model="name" type="text"  placeholder="Full Name"   name="fullname">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="email" v-model="email" placeholder="Email:"  name="email">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="number" value="" placeholder="Phone Number"  name="phonenumber"  v-model="phoneNum">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="pb-3" > 
                                        <label for="message1"  style="font-size: 15px;" class="">Sex:</label><br>
                                        <div class="pl-4">
                                            <div class="">
                                                <input class="form-check-input" name="sex" type="radio" @click="gender('male')" id-="male" value="Male">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  Male
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" name="sex" @click="gender('female')" id="female" value="Female">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  Female
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="pb-3" > 
                                        <label for="message1"  style="font-size: 15px;" class="">Occupation:</label><br>
                                        <div class="pl-4">
                                            <div class="">
                                                <input class="form-check-input" type="radio" @click=" workstatus('Emplloyed')" name="employmentstatus" id="employed" value="employed">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  Employed
                                                </label>
                                              </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" name="employmentstatus"  @click="workstatus('Unemplloyed')" id="unemployed" value="unemployed">
                                                <label class="form-check-label" for="exampleRadios2">
                                                 Unemployed
                                                </label>
                                              </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" name="employmentstatus" @click="workstatus('Student')" id="student" value="student">
                                                <label class="form-check-label" for="exampleRadios3">
                                                Student
                                                </label>
                                              </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="text" value="" v-model="occupation" placeholder="What do you do?"  name="occupation">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="pb-3" > 
                                        <label for="message1"  style="font-size: 15px;" class="">Age  Range:</label><br>
                                        <div class="pl-4">
                                            <div class="">
                                                <input class="form-check-input" @click="age('16-20')" type="radio" name="agerange" id="agerange1" value="16-20">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  16-20
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" @click="age('21-26')" name="agerange" id="agerange2" value="21-26">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  21-26
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" name="agerange" @click="age('27-35')" id="agerange3" value="27-35">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  27-35
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" name="agerange" @click="age('36 & above')" id="agerange4" value="36 & above">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  36 & above
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="pb-3" > 
                                        <label for="message1"  style="font-size: 15px;" class="">Would you like Wisdom Ezekiel to be your mentor?</label><br>
                                        <div class="pl-4">
                                            <div class="">
                                                <input class="form-check-input" @click="mentoring('yes')" type="radio" name="liketobementored" id="mentor1" value="yes">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  Yes
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" @click="mentoring('no')" name="liketobementored" id="mentor2" value="no">
                                                <label class="form-check-label" for="exampleRadios2">
                                                 No
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="text" value="" v-model="expect" name="whattoexpect" placeholder="What do you expect from this program?">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="pb-3" > 
                                        <label for="message1"  style="font-size: 15px;" class=""> How did you hear about The Volunteer's Chat</label><br>
                                        <div class="pl-4">
                                            <div class="">
                                                <input class="form-check-input" @click="social('facebook')" type="radio" name="avenue" id="facebook" value="facebook">
                                                <label class="form-check-label" for="exampleRadios2">
                                                  facebook
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" @click="social('whatsapp')" type="radio" name="avenue" id="whatsapp" value="whatsapp">
                                                <label class="form-check-label" for="exampleRadios2">
                                                 WhatsApp
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" @click="social('instagram')" type="radio" name="avenue" id="instagram" value="instagram">
                                                <label class="form-check-label" for="exampleRadios2">
                                                 Instagram
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" @click="social('google')" name="avenue" id="google" value="google">
                                                <label class="form-check-label" for="exampleRadios2">
                                                 Google
                                                </label>
                                            </div>
                                            <div class="">
                                                <input class="form-check-input" type="radio" @click="social('others')" name="avenue" id="others" value="others">
                                                <label class="form-check-label" for="exampleRadios2">
                                                 Others
                                                </label>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <button @click="submitForm()" type="submit" class="button gradient-btn w-100">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                sex: '',
                name: '',
                email: '',
                phoneNum: ' ',
                expect: '',
                avenue: '',
                ageRange: '',
                occupation: '',
                errorMsg: '',
                liketobementored: '',
                employmentstatus: ''
            }
        },
        mounted() {
            $(".loader").fadeOut(3000);
        },
        methods: {
            submitForm(){
                let url = 'http://wisdomezekiel.org/server/server.php';
                // getting values from the input fields

                let data = {
                    fullname: this.name, sex:this.sex, agerange: this.ageRange,
                    liketobementored: this.liketobementored, 
                    employmentstatus: this.employmentstatus,
                    occupation: this.occupation, whattoexpect: this.expect,
                    phonenumber: this.phoneNum,
                    email: this.email, avenue: this.avenue
                }
                console.log(data);
                // checking through required fields
                for (var x in data) {
                    if(data[x].length < 1){
                        this.errorMsg = 'Please fill all the required fields and checkboxes'
                        $("#error").slideDown()
                        setTimeout(function(){ $("#error").slideUp();; }, 7000);
                        return false;
                    }
                }
                if(!this.validateEmail(this.email)){
                    return false
                }
                $(".loader").fadeIn();    
                // // request to the server
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function() {
                        swal({
                                title: "Registration Successful",
                                text: "Thanks for registering for my Mentorship Series, you'd receive a mail soon, containing the details of the program and the zoom link.\n\n\n Stay safe. Cheers.",
                                icon: "success",
                                button: "Ok",
                            });
                    },
                });
                $(".loader").fadeOut(1000);

                function clearCheckbox(){
                    let checkBoxes = document.querySelectorAll('.form-check-input');
                    checkBoxes.forEach(elm =>{
                        elm.checked  = false
                    })
                }
                clearCheckbox()
                // clearing all fields
                this.name = '',
                this.email = '',
                this.phoneNum = '',
                this.expect = '',
                this.occupation = ''
            
            },
            age(data){this.ageRange = data},
            gender(data){this.sex = data},
            social(data){this.avenue = data},
            workstatus(data){this.employmentstatus = data},
            mentoring(data) {this.liketobementored = data},
            validateEmail(email){
                const regx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return regx.test(String(email).toLowerCase());
            }
        }
    }
</script>
<style scoped>

</style>